/nbproject/
build.xml
/build/
lxc.cfg
lxc.log
lxc_oldlog*.log
/bin/
/gen/
/libs/android-support-v4.jar
/dist/
/out/
/.idea/
/.navigation/
/.gradle/
/gradle/
local.properties
gradlew
gradlew.bat
/tmp/lxcbuild/
